@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --lead: #212121;
  --gold-finger: #f2bd12;
  --eye-ball: #fffdf7;
  --hint-yellow: #fcf1cc;
  --pure-white: #fff;
}

body {
  background-color: var(--eye-ball);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

.Logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--gold-finger);
  text-decoration: none;
}

.navlist {
  display: flex;
  gap: 30px;
}

.navlist li {
  list-style: none;
}

.navlist a {
  text-decoration: none;
  color: var(--lead);
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s color 0.3s;
}

.navlist a:hover {
  background-color: var(--gold-finger);
  color: white;
}

.desktop-action {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-icon {
  position: relative;
  font-size: 1.2rem;
  color: var(--lead);
  text-decoration: none;
}

.cart-icon .cart-value {
  position: absolute;
  top: -8px;
  right: -10px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
}

.btn {
  background-color: var(--gold-finger);
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
