* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9fafb;
}

nav {
  width: 100%;
  background-color: #0f172a;
  color: #f9fafb;
  padding: 25px 35px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(191, 189, 189);
}

.searchbox {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  border-radius: 8px;
  padding: 5px 10px;
  max-width: 400px;
  flex: 1;
  margin: 0 20px;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 15px;
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #ef4444;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fa-cart-shopping {
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.fa-cart-shopping::after {
  content: "0";
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #e63946;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}

.login-btn {
  background-color: #fb923c;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.login-btn:hover {
  background-color: #fc8524;
}
